@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);
*, *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    color: white;
    background-color: #1B1C21;
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

a {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.top-container {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.1);
}

.top-container:before {
    content: '';
    position: absolute;
    left: -150%;
    top: 0;
    width: 300%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    z-index: -1;
}

.header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 30px;
}

.header__logo {
    font-family: Helvetica;
    font-size: 2.3em;
    font-weight: 900;
    letter-spacing: -1px;
}

.header__logo span {
    display: inline-block;
    -webkit-transform: translateY(4px) rotate(180deg);
    -ms-transform: translateY(4px) rotate(180deg);
    transform: translateY(4px) rotate(180deg);
    pointer-events: none;
}

.footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 30px;
}

.footer__menu__link {
    margin-left: 50px;
    color: rgba(255, 255, 255, 0.5);
}


.copyright-text {
    font-family: Helvetica;
    position: fixed;
    top: 95%;
    left: 79%;
    color:#aaaaaa;
    font-weight: 200;
    font-size: 100%;
    opacity: 1;
}

#box{
    position: absolute;
    top: 11.5%;
    left: 12.5%;
    align-items: center;
    width:75%;
    height:70%;
    margin:10px;
    padding:10px;
}

#box {
    background:#000000;
    opacity: 0.65;
    border-radius: 25px;
}

#box {
    white-space:pre;
    font-size:smaller;
    font-family:Helvetica;
}
.tematik_trombinoscope
{
    position:absolute;
    top:3%;
    left:2%;
    display:-webkit-box;
    display:-webkit-flex;display:-moz-box;display:-ms-flexbox;display:flex;-webkit-box-orient:horizontal;-webkit-box-direction:normal;-webkit-flex-flow:row nowrap;-moz-box-orient:horizontal;-moz-box-direction:normal;-ms-flex-flow:row nowrap;flex-flow:row nowrap;-webkit-box-pack:start;-webkit-justify-content:flex-start;-moz-box-pack:start;-ms-flex-pack:start;justify-content:flex-start;-webkit-box-align:end;-webkit-align-items:flex-end;-moz-box-align:end;-ms-flex-align:end;align-items:flex-end;width:100%;text-align:left;overflow:hidden;z-index:0}

.tematik_trombinoscope-image
{
    position:absolute;
    top: 0%;
    left: 14%;
    -webkit-box-flex:0;
    -webkit-flex:0 0 auto;
    -moz-box-flex:0;
    -ms-flex:0 0 auto;
    flex:0 0 auto;
    width:50%;
    max-width:9rem;
    text-align:center;

:translate3d(0, 0, 0);-moz-transform:translate3d(0, 0, 0);transform:translate3d(0, 0, 0);-webkit-transition:-webkit-transform .4s;transition:-webkit-transform .4s;-moz-transition:transform .4s, -moz-transform .4s;transition:transform .4s;transition:transform .4s, -webkit-transform .4s, -moz-transform .4s;z-index:-1}.tematik_trombinoscope-image img{max-height:10rem}

.tematik_trombinoscope-contenu
{
    -webkit-box-flex:1;-webkit-flex:1 1 auto;-moz-box-flex:1;-ms-flex:1 1 auto;flex:1 1 auto;padding-bottom:1rem;min-height:5rem}
.tematik_trombinoscope-contenu>*{display:block;margin:0}@media (min-width: 992px){
    .tematik_trombinoscope-contenu small{
        font-family: Helvetica;
        font-size: 200%;
    }}.tematik_trombinoscope:hover .tematik_trombinoscope-image{-webkit-transform:translate3d(1rem, 0, 0);-moz-transform:translate3d(1rem, 0, 0);transform:translate3d(1rem, 0, 0)}.tematik_trombinoscope[href]:hover .tematik_trombinoscope-contenu strong{color:#ff009b}

.titre4{
    font-family: Helvetica;
    font-size: 230%;
}

.social-container {
    position: absolute;
    top:25%;
    left:72.5%;
    width: 400px;
    margin: 40vh auto;
    text-align:right;
}

.social-icons {
    padding: 0;
    list-style: none;
    margin: 1em;
    display: flex;
}
.social-icons li {
    display: inline-block;
    padding: 2.5%;
    margin: 0.15em;
    position: relative;
    font-size: 1.2em;
}
.social-icons i {
    color: #fff;
    position: absolute;
    top: 31px;
    left: 31px;
    transition: all 265ms ease-out;
}
.social-icons a {
    display: inline-block;
}
.social-icons a:before {
    transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    content: " ";
    width: 60px;
    height: 60px;
    border-radius: 100%;
    display: block;
    background: linear-gradient(45deg, #00b5f5, #002a8f);
    transition: all 265ms ease-out;
}
.social-icons a:hover:before {
    transform: scale(0);
    transition: all 265ms ease-in;
}
.social-icons a:hover i {
    transform: scale(2.2);
    -ms-transform: scale(2.2);
    -webkit-transform: scale(2.2);
    color: #00b5f5;
    background: -webkit-linear-gradient(45deg, #00b5f5, #002a8f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 265ms ease-in;
}