*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
    margin: 0px;
    height: 100%;
}

body {
    background: #1f1f1f;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    height:100% ;
    overflow-y: scroll;
    overflow-x: hidden ;
}

section{
    width: 100%;
    height: 100vh;
}


.header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 30px;
    font-family: Helvetica;
}

a {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.navbarr{
    width: 100%;
    padding: 20px;
    padding-right:0px;
    position: absolute;
    top: 24px;
    right: 0;
    transition: .5s;
}

.navbarr ul li{
    list-style-type: none;
    display:inline-block;
    padding: 10px 50px;
    color: white;
    font-size: 2vh;
    font-family: Helvetica;
    cursor: pointer;
    border-radius:10px;
    transition: .5s;
}

.navbarr ul li:hover{

    background: #c1771d;

}

.navbarr ul li.list {
    position: fixed;
    top:2.2%;
    right: 0;
    font-size: 28px;
    text-align: right;
    display: none;
}



.box{
    width: 80%;
    height: 2000px;
    background: green;
    margin: 20px auto;

}

.header__logo {
    font-family: Helvetica;
    position: fixed;
    top: 28px;
    left:22px;
    font-size: 3.5vh;
    font-weight: 900;
    letter-spacing: -1px;
}

.header__logo span {
    display: inline-block;
    -webkit-transform: translateY(4px) rotate(180deg);
    -ms-transform: translateY(4px) rotate(180deg);
    transform: translateY(4px) rotate(180deg);
    pointer-events: none;
}

.top-container{
    width: 100%;
    height: 100vh;
    background: #252525;
    background-image: url("resources/background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: right;
    padding: 80px 70px;
}

a.btn_down{
    text-align: center;
    text-decoration: none;
    color: #fff;
    position: absolute;
    top: 52%;
    left: 49.5%;
    font-size: 250%;
    border: 2px solid;
    border-radius: 60px;
    height: 60px;
    width: 60px;
    line-height: 60px;

}

a.btn_down:hover{
    background: #305699;
}

.row-sm-1{
    position: absolute;
    top:3%;
    font-size:30vm;
    left:2%;
}

.row-sm-1.bottom-left-text{
    position: absolute;
    top:47%;
    left:33%;
}

.row-sm-1-resp .left-text-style{
    display: none;
}

.top-left-text{
    color: #ffffff;
    letter-spacing: 1.5px ;
    font-size: 40px ;
    font-weight: 200 ;
    word-spacing: 1px ;

}

.left-text-style, #typed-strings{
    color: #E5E9EC ;
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    letter-spacing: 1.5px ;
    font-size: 30px;
    font-weight: 200 ;
    word-spacing: 1px;
}


.cont {
    position: relative;
    height: 100vh;
    padding: 80px 70px;
}

.cont__inner {
    position: relative;
    top: 110px;
    height: 100%;
}
.cont__inner:hover .el__bg:after {
    opacity: 1;
}

.el {
    position: absolute;
    left: 0;
    top: 0;
    width: 19.2%;
    height: 100%;
    background: #252525;
    -webkit-transition: width 0.7s, opacity 0.6s 0.7s, z-index 0s 1.3s, -webkit-transform 0.6s 0.7s;
    transition: width 0.7s, opacity 0.6s 0.7s, z-index 0s 1.3s, -webkit-transform 0.6s 0.7s;
    transition: transform 0.6s 0.7s, width 0.7s, opacity 0.6s 0.7s, z-index 0s 1.3s;
    transition: transform 0.6s 0.7s, width 0.7s, opacity 0.6s 0.7s, z-index 0s 1.3s, -webkit-transform 0.6s 0.7s;
    will-change: transform, width, opacity;
}
.el:not(.s--active) {
    cursor: pointer;
}
.el__overflow {
    overflow: hidden;
    position: relative;
    height: 100%;
}
.el__inner {
    overflow: hidden;
    position: relative;
    height: 100%;
    -webkit-transition: -webkit-transform 1s;
    transition: -webkit-transform 1s;
    transition: transform 1s;
    transition: transform 1s, -webkit-transform 1s;
}
.cont.s--inactive .el__inner {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
}
.el__bg {
    position: relative;
    width: calc(100vw - 140px);
    height: 100%;
    -webkit-transition: -webkit-transform 0.6s 0.7s;
    transition: -webkit-transform 0.6s 0.7s;
    transition: transform 0.6s 0.7s;
    transition: transform 0.6s 0.7s, -webkit-transform 0.6s 0.7s;
    will-change: transform;
}
.el__bg:before {
    content: "";
    position: absolute;
    left: 0;
    top: -5%;
    width: 100%;
    height: 110%;
    background-size: cover;
    background-position: center center;
    -webkit-transition: -webkit-transform 1s;
    transition: -webkit-transform 1s;
    transition: transform 1s;
    transition: transform 1s, -webkit-transform 1s;
    -webkit-transform: translate3d(0, 0, 0) scale(1);
    transform: translate3d(0, 0, 0) scale(1);
}
.cont.s--inactive .el__bg:before {
    -webkit-transform: translate3d(0, -100%, 0) scale(1.2);
    transform: translate3d(0, -100%, 0) scale(1.2);
}
.el.s--active .el__bg:before {
    -webkit-transition: -webkit-transform 0.8s;
    transition: -webkit-transform 0.8s;
    transition: transform 0.8s;
    transition: transform 0.8s, -webkit-transform 0.8s;
}
.el__bg:after {
    content: "";
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    opacity: 0;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
}
.cont.s--el-active .el__bg:after {
    -webkit-transition: opacity 0.5s 1.4s;
    transition: opacity 0.5s 1.4s;
    opacity: 1 !important;
}
.el__preview-cont {
    z-index: 2;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: all 0.3s 1.2s;
    transition: all 0.3s 1.2s;
}
.cont.s--inactive .el__preview-cont {
    opacity: 0;
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
}
.cont.s--el-active .el__preview-cont {
    opacity: 0;
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}
.el__heading {
    color: #fff;
    text-transform: uppercase;
    font-size: 18px;
}
.el__content {
    z-index: -1;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 30px;
    opacity: 0;
    pointer-events: none;
    -webkit-transition: all 0.1s;
    transition: all 0.1s;
}
.el.s--active .el__content {
    z-index: 2;
    opacity: 1;
    pointer-events: auto;
    -webkit-transition: all 0.5s 1.4s;
    transition: all 0.5s 1.4s;
}
.el__text {
    text-transform: uppercase;
    font-size: 40px;
    color: #fff;
}
.el__close-btn {
    z-index: -1;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 60px;
    height: 60px;
    opacity: 0;
    pointer-events: none;
    -webkit-transition: all 0s 0.45s;
    transition: all 0s 0.45s;
    cursor: pointer;
}
.el.s--active .el__close-btn {
    z-index: 5;
    opacity: 1;
    pointer-events: auto;
    -webkit-transition: all 0s 1.4s;
    transition: all 0s 1.4s;
}
.el__close-btn:before, .el__close-btn:after {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 8px;
    margin-top: -4px;
    background: #fff;
    opacity: 0;
    -webkit-transition: opacity 0s;
    transition: opacity 0s;
}
.el.s--active .el__close-btn:before, .el.s--active .el__close-btn:after {
    opacity: 1;
}
.el__close-btn:before {
    -webkit-transform: rotate(45deg) translateX(100%);
    transform: rotate(45deg) translateX(100%);
}
.el.s--active .el__close-btn:before {
    -webkit-transition: all 0.3s 1.4s cubic-bezier(0.72, 0.09, 0.32, 1.57);
    transition: all 0.3s 1.4s cubic-bezier(0.72, 0.09, 0.32, 1.57);
    -webkit-transform: rotate(45deg) translateX(0);
    transform: rotate(45deg) translateX(0);
}
.el__close-btn:after {
    -webkit-transform: rotate(-45deg) translateX(100%);
    transform: rotate(-45deg) translateX(100%);
}
.el.s--active .el__close-btn:after {
    -webkit-transition: all 0.3s 1.55s cubic-bezier(0.72, 0.09, 0.32, 1.57);
    transition: all 0.3s 1.55s cubic-bezier(0.72, 0.09, 0.32, 1.57);
    -webkit-transform: rotate(-45deg) translateX(0);
    transform: rotate(-45deg) translateX(0);
}
.el__index {
    overflow: hidden;
    position: absolute;
    left: 0;
    bottom: -80px;
    width: 100%;
    height: 100%;
    min-height: 250px;
    text-align: center;
    font-size: 20vw;
    line-height: 0.85;
    font-weight: bold;
    -webkit-transition: opacity 0.3s 1.4s, -webkit-transform 0.5s;
    transition: opacity 0.3s 1.4s, -webkit-transform 0.5s;
    transition: transform 0.5s, opacity 0.3s 1.4s;
    transition: transform 0.5s, opacity 0.3s 1.4s, -webkit-transform 0.5s;
    -webkit-transform: translate3d(0, 1vw, 0);
    transform: translate3d(0, 1vw, 0);
}
.el:hover .el__index {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.cont.s--el-active .el__index {
    -webkit-transition: opacity 0.3s, -webkit-transform 0.5s;
    transition: opacity 0.3s, -webkit-transform 0.5s;
    transition: transform 0.5s, opacity 0.3s;
    transition: transform 0.5s, opacity 0.3s, -webkit-transform 0.5s;
    opacity: 0;
}
.el__index-back, .el__index-front {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}
.el__index-back {
    color: #2f3840;
    opacity: 0;
    -webkit-transition: opacity 0.25s 0.25s;
    transition: opacity 0.25s 0.25s;
}
.el:hover .el__index-back {
    -webkit-transition: opacity 0.25s;
    transition: opacity 0.25s;
    opacity: 1;
}
.el__index-overlay {
    overflow: hidden;
    position: relative;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    -webkit-transition: -webkit-transform 0.5s 0.1s;
    transition: -webkit-transform 0.5s 0.1s;
    transition: transform 0.5s 0.1s;
    transition: transform 0.5s 0.1s, -webkit-transform 0.5s 0.1s;
    color: transparent;
}
.el__index-overlay:before {
    content: attr(data-index);
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    -webkit-transition: -webkit-transform 0.5s 0.1s;
    transition: -webkit-transform 0.5s 0.1s;
    transition: transform 0.5s 0.1s;
    transition: transform 0.5s 0.1s, -webkit-transform 0.5s 0.1s;
}
.el:hover .el__index-overlay {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.el:hover .el__index-overlay:before {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.el:nth-child(1) {
    -webkit-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%, 0, 0);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}
.cont.s--el-active .el:nth-child(1):not(.s--active) {
    -webkit-transform: scale(0.5) translate3d(0%, 0, 0);
    transform: scale(0.5) translate3d(0%, 0, 0);
    opacity: 0;
    -webkit-transition: opacity 0.95s, -webkit-transform 0.95s;
    transition: opacity 0.95s, -webkit-transform 0.95s;
    transition: transform 0.95s, opacity 0.95s;
    transition: transform 0.95s, opacity 0.95s, -webkit-transform 0.95s;
}
.el:nth-child(1) .el__inner {
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}
.el:nth-child(1) .el__bg {
    -webkit-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%, 0, 0);
}
.el:nth-child(1) .el__bg:before {
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    background-image: url("resources/tech_wallpaper.jpg");
}
.el:nth-child(2) {
    -webkit-transform: translate3d(105.2083333333%, 0, 0);
    transform: translate3d(105.2083333333%, 0, 0);
    -webkit-transform-origin: 155.2083333333% 50%;
    transform-origin: 155.2083333333% 50%;
}
.cont.s--el-active .el:nth-child(2):not(.s--active) {
    -webkit-transform: scale(0.5) translate3d(105.2083333333%, 0, 0);
    transform: scale(0.5) translate3d(105.2083333333%, 0, 0);
    opacity: 0;
    -webkit-transition: opacity 0.95s, -webkit-transform 0.95s;
    transition: opacity 0.95s, -webkit-transform 0.95s;
    transition: transform 0.95s, opacity 0.95s;
    transition: transform 0.95s, opacity 0.95s, -webkit-transform 0.95s;
}
.el:nth-child(2) .el__inner {
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
}
.el:nth-child(2) .el__bg {
    -webkit-transform: translate3d(-19.2%, 0, 0);
    transform: translate3d(-19.2%, 0, 0);
}
.el:nth-child(2) .el__bg:before {
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
    background-image: url("resources/tech_wallpaper.jpg");
}
.el:nth-child(3) {
    -webkit-transform: translate3d(210.4166666667%, 0, 0);
    transform: translate3d(210.4166666667%, 0, 0);
    -webkit-transform-origin: 260.4166666667% 50%;
    transform-origin: 260.4166666667% 50%;
}
.cont.s--el-active .el:nth-child(3):not(.s--active) {
    -webkit-transform: scale(0.5) translate3d(210.4166666667%, 0, 0);
    transform: scale(0.5) translate3d(210.4166666667%, 0, 0);
    opacity: 0;
    -webkit-transition: opacity 0.95s, -webkit-transform 0.95s;
    transition: opacity 0.95s, -webkit-transform 0.95s;
    transition: transform 0.95s, opacity 0.95s;
    transition: transform 0.95s, opacity 0.95s, -webkit-transform 0.95s;
}
.el:nth-child(3) .el__inner {
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
}
.el:nth-child(3) .el__bg {
    -webkit-transform: translate3d(-38.4%, 0, 0);
    transform: translate3d(-38.4%, 0, 0);
}
.el:nth-child(3) .el__bg:before {
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
    background-image: url("resources/tech_wallpaper.jpg");
}
.el:nth-child(4) {
    -webkit-transform: translate3d(315.625%, 0, 0);
    transform: translate3d(315.625%, 0, 0);
    -webkit-transform-origin: 365.625% 50%;
    transform-origin: 365.625% 50%;
}
.cont.s--el-active .el:nth-child(4):not(.s--active) {
    -webkit-transform: scale(0.5) translate3d(315.625%, 0, 0);
    transform: scale(0.5) translate3d(315.625%, 0, 0);
    opacity: 0;
    -webkit-transition: opacity 0.95s, -webkit-transform 0.95s;
    transition: opacity 0.95s, -webkit-transform 0.95s;
    transition: transform 0.95s, opacity 0.95s;
    transition: transform 0.95s, opacity 0.95s, -webkit-transform 0.95s;
}
.el:nth-child(4) .el__inner {
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
}
.el:nth-child(4) .el__bg {
    -webkit-transform: translate3d(-57.6%, 0, 0);
    transform: translate3d(-57.6%, 0, 0);
}
.el:nth-child(4) .el__bg:before {
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
    background-image: url("resources/tech_wallpaper.jpg");
}
.el:nth-child(5) {
    -webkit-transform: translate3d(420.8333333333%, 0, 0);
    transform: translate3d(420.8333333333%, 0, 0);
    -webkit-transform-origin: 470.8333333333% 50%;
    transform-origin: 470.8333333333% 50%;
}
.cont.s--el-active .el:nth-child(5):not(.s--active) {
    -webkit-transform: scale(0.5) translate3d(420.8333333333%, 0, 0);
    transform: scale(0.5) translate3d(420.8333333333%, 0, 0);
    opacity: 0;
    -webkit-transition: opacity 0.95s, -webkit-transform 0.95s;
    transition: opacity 0.95s, -webkit-transform 0.95s;
    transition: transform 0.95s, opacity 0.95s;
    transition: transform 0.95s, opacity 0.95s, -webkit-transform 0.95s;
}
.el:nth-child(5) .el__inner {
    -webkit-transition-delay: 0.4s;
    transition-delay: 0.4s;
}
.el:nth-child(5) .el__bg {
    -webkit-transform: translate3d(-76.8%, 0, 0);
    transform: translate3d(-76.8%, 0, 0);
}
.el:nth-child(5) .el__bg:before {
    -webkit-transition-delay: 0.4s;
    transition-delay: 0.4s;
    background-image: url("resources/tech_wallpaper.jpg");
}
.el:hover .el__bg:after {
    opacity: 0;
}
.el.s--active {
    z-index: 1;
    width: 100%;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: width 0.7s 0.7s, z-index 0s, -webkit-transform 0.6s;
    transition: width 0.7s 0.7s, z-index 0s, -webkit-transform 0.6s;
    transition: transform 0.6s, width 0.7s 0.7s, z-index 0s;
    transition: transform 0.6s, width 0.7s 0.7s, z-index 0s, -webkit-transform 0.6s;
}
.el.s--active .el__bg {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: -webkit-transform 0.6s;
    transition: -webkit-transform 0.6s;
    transition: transform 0.6s;
    transition: transform 0.6s, -webkit-transform 0.6s;
}
.el.s--active .el__bg:before {
    -webkit-transition-delay: 0.6s;
    transition-delay: 0.6s;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.footer{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 30px;
}

.footer__menu__link {
    margin-left: 50px;
    color: rgba(255, 255, 255, 0.5);
}


.copyright-text {
    font-family: Helvetica;
    position: fixed;
    bottom: 20px;
    right: 25px;
    color:#aaaaaa;
    font-weight: 200;
    font-size: 1.3vh;
    opacity: 1;
}

/* When the screen is less than 680 pixels wide, hide all list items, except for the first one ("Home"). Show the list item that contains the link to open and close the topnav (li.icon) */
@media screen and (max-width:400px) and (max-height:700px) and (min-height:600px)  {
    .navbarr ul.topnav li {display: none;}
    .navbarr ul.topnav li.list {
        float: right;
        display: inline-block;
    }


}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens */
@media screen and (max-width:400px) and (max-height:700px) and (min-height:600px){
    .navbarr ul.topnav.responsive li.list{
        position: fixed;
        padding: 10px 30px;
        top:2.5%;
        right:92px;
    }

    body{
        overflow: hidden;
    }
    #sidebar{
        position: fixed;
        top: 0;
        width: 29.5vh;
        height: 100%;
        background:#151719;
        opacity: 0.75;
        right: -400px;
        border-radius:10px;
    }

    #sidebar.active{
        transition:0.3s;
        right: 0;
    }


    #typed-resp{
        position: fixed;
        top: 50%;
        left:27%;
        display: inline-flex;
        color: #E5E9EC ;
        font-family: 'IBM Plex Sans Condensed', sans-serif;
        letter-spacing: 1.5px ;
        font-weight: 200 ;
        font-size: 2.3vh;
        word-spacing: 1px;
        opacity: 1;
    }


    .row-sm-1 .left-text-style{
        display: none;
    }

    .copyright-text .paragraph-text{
        font-size: 2.0vh;
    }

    .navbarr ul.topnav.responsive li {
        font-size: 3.5vh;
        float: none;
        display:flex;
    }

    .navbarr ul.topnav.responsive li a {
        display: block;
        text-align: right;
    }

    #typed-strings{
        font-size: 2.0vh;
    }

    .navbarr ul.topnav{
        position: fixed;
        top: 10%;
        right:0;
    }

    .btn_down{
        display: none;
    }

    .cont__inner{
        display: none;
    }
}

/* When the screen is less than 680 pixels wide, hide all list items, except for the first one ("Home"). Show the list item that contains the link to open and close the topnav (li.icon) */
@media screen and (max-width:1200px) and (max-height:1100px)  and (min-width:400px) and (min-height:900px) {
    .navbarr ul.topnav li {display: none;}
    .navbarr ul.topnav li.list {
        float: right;
        display: inline-block;
    }


}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens */
@media screen and (max-width:1200px) and (max-height:1100px) and (min-width:400px) and (min-height:900px)  {
    .navbarr ul.topnav.responsive li.list{
        position: fixed;
        padding: 10px 30px;
        top:2.5%;
        right:92px;
    }

    body{
        overflow: hidden;
    }
    #sidebar{
        position: fixed;
        top: 0;
        width: 19.3vh;
        height: 100%;
        background:#151719;
        opacity: 0.75;
        right: -400px;
        border-radius:10px;
    }

    #sidebar.active{
        transition:0.3s;
        right: 0;
    }


    #typed-resp{
        position: fixed;
        top: 50%;
        left:25%;
        display: inline-flex;
        color: #E5E9EC ;
        font-family: 'IBM Plex Sans Condensed', sans-serif;
        letter-spacing: 1.5px ;
        font-weight: 200 ;
        font-size: 2.3vh;
        word-spacing: 1px;
        opacity: 1;
    }


    .row-sm-1 .left-text-style{
        display: none;
    }

    .copyright-text .paragraph-text{
        font-size: 1.5vh;
    }

    .navbarr ul.topnav.responsive li {
        font-size: 2.2vh;
        float: none;
        display:flex;
    }

    .navbarr ul.topnav.responsive li a {
        display: block;
        text-align: right;
    }

    #typed-strings{
        font-size: 2.0vh;
    }

    #typed-resp{
        position: fixed;
        top: 50%;
        left:37%;
    }

    .navbarr ul.topnav{
        position: fixed;
        top: 10%;
        right:0;
    }

    .btn_down{
        display: none;
    }

    .cont__inner{
        display: none;
    }
}

/* When the screen is less than 680 pixels wide, hide all list items, except for the first one ("Home"). Show the list item that contains the link to open and close the topnav (li.icon) */
@media screen and (max-width:1200px) and (max-height:900px)  and (min-width:400px) and (min-height:700px) {
    .navbarr ul.topnav li {display: none;}
    .navbarr ul.topnav li.list {
        float: right;
        display: inline-block;
    }


}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens */
@media screen and (max-width:1200px) and (max-height:900px)  and (min-width:400px) and (min-height:700px)   {
    .navbarr ul.topnav.responsive li.list{
        position: fixed;
        padding: 10px 30px;
        top:2.5%;
        right:92px;
    }

    body{
        overflow: hidden;
    }
    #sidebar{
        position: fixed;
        top: 0;
        width: 19.3vh;
        height: 100%;
        background:#151719;
        opacity: 0.75;
        right: -400px;
        border-radius:10px;
    }

    #sidebar.active{
        transition:0.3s;
        right: 0;
    }


    #typed-resp{
        position: fixed;
        top: 50%;
        left:25%;
        display: inline-flex;
        color: #E5E9EC ;
        font-family: 'IBM Plex Sans Condensed', sans-serif;
        letter-spacing: 1.5px ;
        font-weight: 200 ;
        font-size: 2.3vh;
        word-spacing: 1px;
        opacity: 1;
    }


    .row-sm-1 .left-text-style{
        display: none;
    }

    .copyright-text .paragraph-text{
        font-size: 1.5vh;
    }

    .navbarr ul.topnav.responsive li {
        font-size: 2.2vh;
        float: none;
        display:flex;
    }

    .navbarr ul.topnav.responsive li a {
        display: block;
        text-align: right;
    }

    #typed-strings{
        font-size: 2.0vh;
    }

    #typed-resp{
        position: fixed;
        top: 50%;
        left:37%;
    }

    .navbarr ul.topnav{
        position: fixed;
        top: 10%;
        right:0;
    }

    .btn_down{
        display: none;
    }

    .cont__inner{
        display: none;
    }
}

/* When the screen is less than 680 pixels wide, hide all list items, except for the first one ("Home"). Show the list item that contains the link to open and close the topnav (li.icon) */
@media screen  and (min-width:600px) and (max-width: 1200px) and (min-height:1100px) {
    .navbarr ul.topnav li {display: none;}
    .navbarr ul.topnav li.list {
        float: right;
        display: inline-block;
    }


}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens */
@media screen  and (min-width:600px) and (max-width: 1200px) and (min-height:1100px)  {
    .navbarr ul.topnav.responsive li.list{
        position: fixed;
        padding: 10px 30px;
        top:2.5%;
        right:92px;
    }

    body{
        overflow: hidden;
    }
    #sidebar{
        position: fixed;
        top: 0;
        width: 240px;
        height: 100%;
        background:#151719;
        opacity: 0.75;
        right: -400px;
        border-radius:10px;
    }

    #sidebar.active{
        transition:0.3s;
        right: 0;
    }


    #typed-resp{
        position: fixed;
        top: 50%;
        left:25%;
        display: inline-flex;
        color: #E5E9EC ;
        font-family: 'IBM Plex Sans Condensed', sans-serif;
        letter-spacing: 1.5px ;
        font-weight: 200 ;
        font-size: 30px;
        word-spacing: 1px;
        opacity: 1;
    }


    .row-sm-1 .left-text-style{
        display: none;
    }

    .copyright-text .paragraph-text{
        font-size: 1.5vh;
    }

    .navbarr ul.topnav.responsive li {
        font-size: 30px;
        float: none;
        display:flex;
    }

    .navbarr ul.topnav.responsive li a {
        display: block;
        text-align: right;
    }

    #typed-strings{
        font-size: 2.0vh;
    }

    #typed-resp{
        position: fixed;
        top: 50%;
        left:37.5%;
    }

    .navbarr ul.topnav{
        position: fixed;
        top: 10%;
        right:0;
    }

    .btn_down{
        display: none;
    }

    .cont__inner{
        display: none;
    }
}

/* When the screen is less than 680 pixels wide, hide all list items, except for the first one ("Home"). Show the list item that contains the link to open and close the topnav (li.icon) */
@media screen  and (max-width:600px) and (min-height:700px) {
    .navbarr ul.topnav li {display: none;}
    .navbarr ul.topnav li.list {
        float: right;
        display: inline-block;
    }


}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens */
@media screen  and (max-width:600px) and (min-height:700px) {
    .navbarr ul.topnav.responsive li.list{
        position: fixed;
        padding: 10px 30px;
        top:2.5%;
        right:92px;
    }

    body{
        overflow: hidden;
    }
    #sidebar{
        position: fixed;
        top: 0;
        width: 180px;
        height: 100%;
        background:#151719;
        opacity: 0.75;
        right: -400px;
        border-radius:10px;
    }

    #sidebar.active{
        transition:0.3s;
        right: 0;
    }


    #typed-resp{
        position: fixed;
        top: 50%;
        left:25%;
        display: inline-flex;
        color: #E5E9EC ;
        font-family: 'IBM Plex Sans Condensed', sans-serif;
        letter-spacing: 1.5px ;
        font-weight: 200 ;
        font-size: 18px;
        word-spacing: 1px;
        opacity: 1;
    }


    .row-sm-1 .left-text-style{
        display: none;
    }

    .copyright-text .paragraph-text{
        font-size: 1.5vh;
    }

    .navbarr ul.topnav.responsive li {
        font-size: 18px;
        float: none;
        display:flex;
    }

    .navbarr ul.topnav.responsive li a {
        display: block;
        text-align: right;
    }

    #typed-strings{
        font-size: 2.0vh;
    }

    #typed-resp{
        position: fixed;
        top: 50%;
        left:26%;
    }

    .navbarr ul.topnav{
        position: fixed;
        top: 10%;
        right:0;
    }

    .btn_down{
        display: none;
    }

    .cont__inner{
        display: none;
    }
}

/* When the screen is less than 680 pixels wide, hide all list items, except for the first one ("Home"). Show the list item that contains the link to open and close the topnav (li.icon) */
@media screen and (max-width:1200px) and (max-height:700px)  and (min-width:400px) {
    .navbarr ul.topnav li {display: none;}
    .navbarr ul.topnav li.list {
        float: right;
        display: inline-block;
    }


}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens */
@media screen and (max-width:1200px) and (max-height:700px)  and (min-width:400px) {
    .navbarr ul.topnav.responsive li.list{
        position: fixed;
        padding: 10px 30px;
        top:2.5%;
        right:92px;
    }

    body{
        overflow: hidden;
    }
    #sidebar{
        position: fixed;
        top: 0;
        width: 23vh;
        height: 100%;
        background:#151719;
        opacity: 0.75;
        right: -400px;
        border-radius:10px;
    }

    #sidebar.active{
        transition:0.3s;
        right: 0;
    }


    #typed-resp{
        position: fixed;
        top: 50%;
        left:25%;
        display: inline-flex;
        color: #E5E9EC ;
        font-family: 'IBM Plex Sans Condensed', sans-serif;
        letter-spacing: 1.5px ;
        font-weight: 200 ;
        font-size: 2.3vh;
        word-spacing: 1px;
        opacity: 1;
    }


    .row-sm-1 .left-text-style{
        display: none;
    }

    .copyright-text .paragraph-text{
        font-size: 1.5vh;
    }

    .navbarr ul.topnav.responsive li {
        font-size: 2.5vh;
        float: none;
        display:flex;
    }

    .navbarr ul.topnav.responsive li a {
        display: block;
        text-align: right;
    }

    #typed-strings{
        font-size: 2.0vh;
    }

    #typed-resp{
        position: fixed;
        top: 50%;
        left:37.5%;
    }

    .navbarr ul.topnav{
        position: fixed;
        top: 10%;
        right:0;
    }

    .btn_down{
        display: none;
    }

    .cont__inner{
        display: none;
    }
}

/* When the screen is less than 680 pixels wide, hide all list items, except for the first one ("Home"). Show the list item that contains the link to open and close the topnav (li.icon) */
@media screen and (max-width:400px) and (max-height:600px)  {
    .navbarr ul.topnav li {display: none;}
    .navbarr ul.topnav li.list {
        float: right;
        display: inline-block;
    }


}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens */
@media screen and (max-width:400px) and (max-height:600px){
    .navbarr ul.topnav.responsive li.list{
        position: fixed;
        padding: 10px 30px;
        top:2.5%;
        right:92px;
    }

    body{
        overflow: hidden;
    }
    #sidebar{
        position: fixed;
        top: 0;
        width: 163px;
        height: 100%;
        background:#151719;
        opacity: 0.75;
        right: -400px;
        border-radius:10px;
    }

    #sidebar.active{
        transition:0.3s;
        right: 0;
    }


    #typed-resp{
        position: fixed;
        top: 50%;
        left:25%;
        display: inline-flex;
        color: #E5E9EC ;
        font-family: 'IBM Plex Sans Condensed', sans-serif;
        letter-spacing: 1.5px ;
        font-weight: 200 ;
        font-size: 13px;
        word-spacing: 1px;
        opacity: 1;
    }


    .row-sm-1 .left-text-style{
        display: none;
    }

    .copyright-text .paragraph-text{
        font-size: 2.0vh;
    }

    .navbarr ul.topnav.responsive li {
        font-size: 3.5vh;
        float: none;
        display:flex;
    }

    .navbarr ul.topnav.responsive li a {
        display: block;
        text-align: right;
    }

    #typed-strings{
        font-size: 2.0vh;
    }

    .navbarr ul.topnav{
        position: fixed;
        top: 10%;
        right:0;
    }

    .btn_down{
        display: none;
    }

    .cont__inner{
        display: none;
    }
}

/* When the screen is less than 680 pixels wide, hide all list items, except for the first one ("Home"). Show the list item that contains the link to open and close the topnav (li.icon) */
@media screen and (min-width:400px) and (max-height:700px)  {
    .navbarr ul.topnav li {display: none;}
    .navbarr ul.topnav li.list {
        float: right;
        display: inline-block;
    }


}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens */
@media screen and (min-width:400px) and (max-height:700px) {
    .navbarr ul.topnav.responsive li.list{
        position: fixed;
        padding: 10px 30px;
        top:2.5%;
        right:92px;
    }

    body{
        overflow: hidden;
    }
    #sidebar{
        position: fixed;
        top: 0;
        width: 165px;
        height: 100%;
        background:#151719;
        opacity: 0.75;
        right: -400px;
        border-radius:10px;
    }

    #sidebar.active{
        transition:0.3s;
        right: 0;
    }


    #typed-resp{
        position: fixed;
        top: 50%;
        left:25%;
        display: inline-flex;
        color: #E5E9EC ;
        font-family: 'IBM Plex Sans Condensed', sans-serif;
        letter-spacing: 1.5px ;
        font-weight: 200 ;
        font-size: 2.3vh;
        word-spacing: 1px;
        opacity: 1;
    }


    .row-sm-1 .left-text-style{
        display: none;
    }

    .copyright-text .paragraph-text{
        font-size: 1.5vh;
    }

    .navbarr ul.topnav.responsive li {
        font-size: 2.5vh;
        float: none;
        display:flex;
    }

    .navbarr ul.topnav.responsive li a {
        display: block;
        text-align: right;
    }

    #typed-strings{
        font-size: 2.0vh;
    }

    #typed-resp{
        position: fixed;
        top: 50%;
        left:37.5%;
    }

    .navbarr ul.topnav{
        position: fixed;
        top: 10%;
        right:0;
    }

    .btn_down{
        display: none;
    }

    .cont__inner{
        display: none;
    }
}
